@model Projecta.ViewModels.loanmodel.LoanVM;
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<fieldset>
    <legend>Create Loan</legend>
    <form action="/Home/Create" method="post">
        <div class="grid">
            <div class="row">
                <div class="col-1">Firstname:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.FirstName)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.FirstName)</div>
            </div>
            <div class="row">
                <div class="col-1">LastName:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.LastName)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.LastName)</div>
            </div>
            <div class="row">
                <div class="col-1">Amount:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Amount)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Amount)</div>
            </div>
            <div class="row">
                <div class="col-1">EGN:</div>
                <div class="col-2">@Html.TextBoxFor(m => m.EGN)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.EGN)</div>
            </div>
            <div class="row">
                <div class="col-3">
                    <input type="submit" value="Create" />
                    <a href="/Users/Index">back</a>
                </div>
            </div>
        </div>
    </form>
</fieldset>